.level-container {
  margin: 2rem;
}

.level-button-row {
  padding-bottom: 2rem;
}

button {
  margin-bottom: 2rem;
  width: 10rem;
  font-size: 2rem;
}

h1 {
  margin-top: -66px;
  padding-left: 1rem;
}