<!-- matMenu -->
<div class="titlemenu">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <div class="mattitle">
    <!-- タイトル -->
    <h1>FLASH<br> COUNT APP</h1>
    <!-- バージョン -->
    <h2>ver0.2.0</h2>
  </div>
  <!-- ホームへ -->
  <button mat-menu-item routerLink="/">
    <mat-icon>home</mat-icon>
    <span>ホーム</span>
  </button>
  <!-- お知らせへ -->
  <button mat-menu-item routerLink="/news">
    <mat-icon>fiber_new</mat-icon>
    <span>お知らせ</span>
  </button>
  <!-- 遊び方へ -->
  <button mat-menu-item routerLink="/howtoplay">
    <mat-icon>description</mat-icon>
    <span>遊び方</span>
  </button>
  <!-- リンク予定 -->
  <button mat-menu-item disabled>
    <mat-icon>link</mat-icon>
    <span>リンク</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>