<div class="howtoplay">
  <h2>遊び方</h2>
  <table>
    <ol>
      <li>桁、行、速さを選択し、

        <button mat-raised-button>開始</button>

        を押して始まります。
      </li>
      <li>３、２、１のカウントダウンの後に、ランダムの数字が何度か表示されるので暗算で足していきます。</li>
      <li>フォームへ合計値を入力し、
        <button mat-raised-button>答える</button>

        を押します。もう一度

        <button mat-raised-button>解き直す</button>

        こともできます。
      </li>
      <li>正解か不正解か表示されます。違う問題へ行くには

        <button mat-raised-button>次の問題</button>

        を押します。
      </li>

      <li>わからない時は

        <button mat-raised-button>正解は</button>

        を押せば正解が表示されます。
      </li>
    </ol>
  </table>
</div>